<div class="continer mt-5">
    <div class="card">
        <div class="card-title">
            <h3 class="text-center mt-3"> Dariusz Semeniku </h3>
        </div>
        <div class="card-body" >
            <div class="image-content" style="justify-content: center; display: flex;">
                <img src="https://images.unsplash.com/photo-1493863641943-9b68992a8d07?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1039&q=80" class="rounded">
            </div>
            <div class="text-content mt-3 row "  style="justify-content: center; ">
                <div class="row text-center rounded" style="display: block; border: 1px solid black; width: 600px; border-shadow: 10px; padding: 10px;">
                   
                <h3> About Me</h3>
                <br>
                    <p style="text-align: left;"> Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,” Before & After magazine answered a curious reader, “Its ‘words’ loosely approximate the frequency with which letters occur in English, which is why at a glance it looks pretty real.”
                    <br>
                    <br>

                    As Cicero would put it, “Um, not so fast.”

                    The placeholder text, beginning with the line “Lorem ipsum dolor sit amet, consectetur adipiscing elit”, looks like Latin because in its youth, centuries ago, it was Latin.

                    Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur—a genuine, albeit rare, Latin word. Consulting a Latin dictionary led McClintock to a passage from De Finibus Bonorum et Malorum (“On the Extremes of Good and Evil”), a first-century B.C. text from the Roman philosopher Cicero.</p>              
                </div>
            </div>
        </div>    
    </div>
</div>
<%= render "footer" %>
