<div class="continer mt-5">
    <div class="card">
        <div class="card-title">
            <h3 class="text-center mt-3 text-secondary"> Hi, I am Viktor </h3>
        </div>
        <div class="card-body" >
            <div class="image-content" style="justify-content: center; display: flex;">
            <!-- <div> -->
              <img src="/viktor.jpg" width="350", height="400">
            </div>
            <div class="text-content mt-3 row "  style="justify-content: center; ">
                <div class="row text-center rounded" style="display: block; border: 1px light black; width: 80%; border-shadow: 10px; padding: 10px;">
                    <hr>
                    <h6 style="text-align: left; font-size: 20px;"> <b>About me: </b><br><br> I am full time web-developer and I work for gaming company, where I do write code using the Ruby OOP,
                      and very often I use different web tools in order to complete my daily tasks. Out of my working hours I like to spend time with my family,
                      I like to travel around the world, explore countrysides and meet with local people, in my free time I like to learn new skills or do something which makes me feel productive.
                    <br>
                    <hr>
                      The idea behind this website came after so many years me thinking would be great if I could share the stories from my trips with the public,
                      because I am pretty sure you will be interested to hear some of them, because when I go for a trip I dont like to stay on tracks, and I like to push myself up to my limit.
                      You will always find me going off road, to places where only few of us have been. And if you ask me "Why?" I would say "Because I can do it."
                    <hr>
                      In the posts I am planing to share with you a litle stories from my trips from around the world and the place where I currently live, some of my experiences were super dangerouse,
                      where the risk was very high, and I am glad that I survived so I can share more interesting stories with you.
                      And some of them were quite delightfull and pleasant. "The adventure begins when we are out of our comfort zone"
                    <hr>
                      And for last I want to include quotes from one of my favorite author for a personal development, I hope they will inspire you as they inspire me:
                    <br>
                    <br>
                      "Strength and growth come only through continuous effort and struggle.", <br>"Victory is always possible for the person who refuses to stop fighting" <br> <br>
                      Napoleon Hill
                    </h6>
                </div>
            </div>
        </div>    
    </div>
</div>
<%= render "footer" %>
