<br>
<div class="col-lg-12 mt-5">
<h2 class="text-center text-secondary"> Album </h2>
            <div class="row text-center">
                <% @posts.each do |post| %>
                    <div class="col-md-6 mt-3">
                        <div class="mt-6">                                             
                            <div class="card">
                             <h3> <%= link_to post.title, post_path(post.id) %> </h3>
                                    <% if post.photo.attached? %> 
                                    <%= cl_image_tag post.photo.key, crop: "fill", :style => "width: 100%;", :class => "rounded"%>                                 
                                    <% else %>
                                    <img src="https://images.unsplash.com/photo-1520116468816-95b69f847357?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="350", height="400">
                                    <% end %>                                                       
                                <div class="text-center .align-content-center" style="position: absolute; top: 90%; align-text: center; width: 100%;" >
                                <%= link_to "View The Details", post_path(post.id), class: 'btn btn-primary opacity-5' %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %> 
            </div>   
        </div>
<%= render 'footer' %>
