<div class="container mt-5">
    <div class="card mt-5" style="display: flex; text-align: center;">

        <%= render 'edit_form', category: @category %>
            <div class="back" style="text-align: center;">
                    <div class="card-body" style="justify-content: space-around; display: flex;">
                        <%= link_to 'Show', @category %>
                        <%= link_to 'Back', categories_path %>
                    </div>    
            </div>
    </div>        
</div>



      
     

 
