<br>
<br>
<div class="container" >
<br>
    <div class="card">
                <hr style="height:2px; border-width:0; color:white; background-color:black;">       
        <div class="card-body">
            <div class="card mt-4" style="display: flex; text-align: center;">
                <%= render 'form', category: @category %>
            </div>
            <br>
            <div class="car-body" style="justify-content: space-around; display: flex; ">
                <%= link_to 'Back', categories_path, class: "btn btn-outline-secondary"  %>
            </div>  
        </div>
            <hr style="height:2px; border-width:0; color:white; background-color:black;">
    </div>

</div>
