
<div class="container mt-5" >
    <div class="card mt-5" style="display: flex; text-align: center;">

        <div class="title mt-2" >       

            <%= render 'form', category: @category %>
        </div>
        <div class="card-body" style="justify-content: space-around; display: flex;">
            <%= link_to 'Back', categories_path %>
        </div>
    </div>    
</div>



  
